:root
{
    --background-color: #212529;
    --background-secondary-color: #373d42;
    --primary-color: #3d24c7;
    --secondary-color: #8369fa;
    --tertiary-color: #a0a0a0;
    --menu-text-color: #f0f0f0;
}


body{
    background-color: #212529;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.bg
{
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: -1;
}

.logo {
    width: 140px;
}

.card{
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    background-color: #ececec;
}

.image{
    display: block;
    margin: auto;
    width: 100px;
}

.nav{
    position: fixed;
    top: 0;
    z-index: 1;
    display: none;
    float: left;
    height: 100vh;
    background: #3c4247;
    width: 70px;
    box-shadow: 10px 0 0 var(--tertiary-color);
    border-left: 5px solid #3c4247 ;
    overflow-x: hidden;
    transition: 0.5s;
}

.mobilenav{
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1;
    float: top;
    width: 100vw;
    height: 70px;
    background: #3c4247;
    border-bottom: 3px solid var(--tertiary-color);
}

.actualpage {
    text-decoration:underline;  
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness:3px;
    
}

.actualpage .icon {
    border-bottom: solid 3px var(--secondary-color);
}

.icon{
    
}
/*.mobilenav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 20px;
    color: white;
}

.mobilenav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    
}

.mobilenav h1{

    

    text-transform: uppercase;
    height: fit-content;
    margin: 0  0 0 20px;
    font-size: 1.5em;
}

.navlogo {
    display: block;
    position: relative;
    display: flex;
    width: 40px;
    z-index: 20;
}*/

/*.nav h1 {
    font-size: 1.2em;
    text-transform: uppercase;
    
}

.nav:hover{
    width: 300px;
}
.nav ul{
    position: absolute;
    top: 20px;
    left:0;
    width: 100%;
    padding-top: 40px;
    padding-left: 5px;
}

.nav li{
    position: relative;
    list-style: none;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

}

.nav a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
}

.nav .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.nav ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.nav .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.nav .active{
    background: var(--tertiary-color);
}

.nav .active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #3c4247;
    border-radius: 50%;
    box-shadow: 15px 15px 0 var(--tertiary-color);
}

.nav .active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #3c4247;
    border-radius: 50%;
    box-shadow: 15px -15px 0 var(--tertiary-color);
}*/


.logoutbtn {
    color: red;
}

/*Navbar css for desktop size*/

.desktopnav{ 
    display: none;
    position: fixed;  
    float: left;
    
    top: 0;
    width: 70px;
    height: 100vh;
    z-index: 1;

    overflow-x: hidden;
    
    background: var(--background-secondary-color);
    box-shadow: 10px 0 0 var(--secondary-color);

    transition: 0.3s;
}




.desktopnav .ul-nav {
    display: flex;
    
    justify-content: space-between;
    flex-direction: column;

    padding: 20px 0px 0px 10px;
}

.desktopnav .list, .li-logo, .li-user {
    display: flex;
    flex-direction: row;
    border-radius: 100px;
    align-items: center;
}

.desktopnav .li-logo {
    margin-bottom: 5px;
}

.desktopnav .navlogo {
    width: 50px;
}


.dropupstyle{
    background-color: var(--background-secondary-color);
}

.desktopnav .icon {
    width: 30px;
    height: 30px;
    margin: 20px 15px;
}

.desktopnav h1, span{
    color: var(--menu-text-color);
}

.desktopnav .a-nav,h1 {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0;
    text-decoration: none;
}

.desktopnav h1 {
    font-size: 2em;
    margin-left: 20PX;
}

.desktopnav span {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    
    margin: 0;
}

.desktopnav .li-user {
    justify-self: end;
}


/* Hover actions */

.desktopnav:hover{
    width: 300px;
}

.desktopnav a:hover .title{
    background-color: var(--secondary-color);
    
}

/*-------------  */


.dash-card{
    background-color: var(--background-secondary-color);
}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  
.dropdown
{
    z-index: 20;
}

  .fade-in.loaded {
    opacity: 1;
  }