@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root
{
    --background-color: #212529;
    --primary-color: #3d24c7;
    --secondary-color: #8369fa;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family: 'Poppins', sans-serif;
    color:var(--background-color);
    margin: 0 auto;
}

.bg
{
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: -1;
}

.card{
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    background-color: #ececec;
}

.image{
    display: block;
    margin: auto;
    width: 100px;
}

.nav{
    position: relative;
    float: left;
    height: 1000px;
    background: #3c4247;
    width: 70px;
    box-shadow: 10px 0 0 #6b5acc;
    border-left: 5px solid #3c4247 ;
    overflow-x: hidden;
    transition: 0.5s;
}

.nav:hover{
    width: 300px;
}
.nav ul{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding-top: 40px;
    padding-left: 5px;
}

.nav ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

}

.nav ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
}

.nav ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.nav ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.nav ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.nav ul li.active{
    background: #6b5acc;
}

.nav ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #3c4247;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #6b5acc;
}
.nav ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #3c4247;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #6b5acc;
}